/**universal**/
html {
    height: 100%;
    width: 100%;
  }
  * {
    margin: 0;
    font-family: Arial;
    border: border-box;
  }
  /**total navbar**/
  .nav {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;  
    align-items: center;
    justify-content: space-evenly;
  }
  /**1st box (amazon logo)**/
  .logo {
    height: 60px;
    width: 130px;
    background-image: url("amazon_logo.png");
    background-size: cover;
  }
  
  .border {
    border: 1.5px solid transparent;
  }
  .border:hover {
    border: 1.5px solid white;
  }
  /**2nd box (address-deliver to india)**/
  .first {
    color: #cccccc;
    font-size: 12px;
    margin-left: 13px;
    
  }
  .second {
    font-size: 1 rem;
    font-weight: bold;
  }
  .icon {
    display: flex;
  }
  
  /**3rd box (searchbox)**/
  .search {
    display: flex;
    
    width: 500px;
    height: 40px;
    border-radius: 4px;  
  }
  .sel {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;  
    border: none; 
  }
  .inp {
    width: 100%;
    font-size: 1rem; 
    border: none;
  }
  .icon2 {
    width: 45px;
    display: flex;
    justify-content: center; 
    align-items: center;
    font-size: 1rem;
    background-color: #febd68;
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  /**4th box (flagbox and language icon)**/
  .flag {
    height: 16.2px;
    width: 21.6px;
    background-image: url("images.png");
    background-size: cover;
  }
  .language {
    display: flex;
  }
  .fifth {
    background-color: #0f1111;
    color: #ffffff;
    border: none;
    font-size: 14px;
    font-weight: bolder;
    
  }
  .forth {
    height: 15px;
    width: 18.38px;
    display: flex;
    align-items: center;
  }
  /**5th box (signin)**/
  .sixth {
    font-size: 12px;
    margin-left: 3px;
  }
  
  .seventh {
    background-color: #0f1111;
    color: white;
    border: none;
    font-size: 14px;
    font-weight: 700;
  }
  /**6th box (return) same as sixth and seventh property**/
  .search:hover {
    border: 2px solid orange;
  }
  /**7th box (cart)**/
  .cart {
    display: flex;
    font-size: 30px;
  }
  #cart2 {
    font-size: 14px;
    margin-top: 11px;
    font-weight: 700;
  }
  
  /**2nd navbar(panel)**/
  .panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    font-size: 14PX;
    align-items:center;
  }
  
  .p-opt p {
    display: inline;
    margin-left:14px;
  }
  .p-opt {
    width: 80%; 
  }
  .p-deal {
    font-weight:700;
   }
  .p-all {
    font-weight:700;
    display: flex;
    align-items:center;
    margin-left:14px;
  }
  #top {
    margin-left: 5px;
  }
  /** Hero section **/
  .main {
    background-image: url("hero_image.jpg");  
    height: 340px;
    background-size: cover;
    display: flex;
    justify-content:center;
    }
  .msg {
    background-color: white;
    color: black;
    height: 38px;
    width: 1326px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    margin-top:270px;
  }
  .msg a {
    color: #007185;
    text-decoration: none;
  }
  /**shop  section**/
  .shop {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-evenly;
    background-color: #e2e7e6;
    padding-bottom: 15px;
  }
  .box {
    /*border: 2px solid black;*/
    height: 400px;
    width: 23%; 
    background-color: white; 
    padding: 15px 0px 20px 0px;
    margin-top:15px; 
  }
  
  .shop a {
    text-decoration: none;
    font-size: 13px;
    color:#007185;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
  }
  .b-image {
    height: 300px;
    background-size: cover;
    margin-top: 16px;
    margin-bottom: 16px;
  }
  .b-content {
    
    margin-left: 18px;
     margin-right: 18px; 
     
  }
  
  
  .blk1 {
    height:160px;
    width: 100%;
  }
  .blk2 {
    height: 136px;
    width : 100%;
    margin-top: 38px;
    border: 2px solid  #e2e7e6;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  #btnp {
    height: 28px;
    width:230px;
    font-size: 12px;
    font-weight: 700;
    background-color: #f7b526;
    border-radius: 5px;
    border-color: #f8920d;
  }
  #cd {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 6px;
  }
  #ef {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 6px;
  }
  #ef a {
    text-decoration: none;
    color: #007185
  }
  .blk3 {
    text-align: center;
    margin-top: 23px;
  }
  .btt1 {
    width: 100%;
    height: 49px;
    background-color: #263a4f;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  #btt2 {
    color: #ffffff;
    font-size: 13px; 
  }
  .ftrp {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
  }
  ul a {
    display: block; 
    font-size: 14px;
    color: #DDDDDD;
    text-decoration: none;
    margin-top: 10px;
  }
  ul p {
    font-size: 16px;
    font-weight: 700;
  }
  
  ul a:hover {
    text-decoration: underline;
  }
  .ftrp1 {
    height:100px;
    width: 100%;
    background-color: #222f3d ;
    border-top:0.5px solid #3a4553;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .logo1 {
    height: 50px;
    width: 100px;
    background-image: url("amazon_logo.png");
    background-size: cover;
  }
  .ftrp2 {
    height: 310px;
    width: 100%;
    background-color: #131a22;
    padding-top: 30px;
    
  }
  .line1 {
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 97px;
    margin-right: 100px; 
  }
  
  .line2 {
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 92px;
    margin-right: 91px; 
    margin-top: 17px;
  }
  .line3 {
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 76px;
    margin-right: 125px; 
    margin-top: 17px;
  }
  .line4 {
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-left: 94px;
    margin-right: 286px; 
    margin-top: 17px;
  }
  .same {
    color: #999999;
  }
  .ftrp2 a:hover {
    text-decoration: underline;
  }
  .ftrp4 {
    width: 100%;
    height: 70px;
    color:white;
    background-color: #131a22;
    font-size: 12px;
    text-align: center;
    
    padding-top: 27px;
  }
  
  .last2 {
    padding-top: 5px;
  }
  .last4 {
    margin-left: 10px;
  }
  .last1:hover {
    text-decoration: underline;
  }
  